---
import hero from "../data/hero.json";
import Ellipse from "../assets/Ellipse.svg";
---

<div class="relative min-h-[calc(100dvh-70px)] container mx-auto px-4">
  <!-- Side Left -->
  <div class="absolute left-4 flex overflow-hidden h-[calc(100dvh-70px)]">
    {
      hero.data.map(({ japan, spanish }) =>
        [...Array(2)].map((_, i) => (
          <span
            class={` font-[Helevetica] font-bold  [writing-mode:vertical-rl] rotate-180 text-purple-500 opacity-60 tracking-widest text-nowrap h-[calc(100dvh-70px)] ${i == 0 ? "scroll-up" : "scroll-down"}`}
          >
            {`${japan.toLocaleUpperCase()} · ${spanish.toLocaleUpperCase()} · `.repeat(
              10
            )}
          </span>
        ))
      )
    }
  </div>

  <!-- Centeal Content -->
  <div class="flex flex-col gap-6 z-10 mt-8 ml-32 md:ml-24 absolute">
    <div>
      <p class="text-sky-200 text-lg">アキソロトル開発</p>
      <h2 class="text-sky-100 text-5xl md:text-6xl font-bold">AXOLOTL DEV</h2>
    </div>

    <!-- Buttons -->
    <div class="flex gap-4">
      <a
        href="#curriculum"
        class="bg-orange-500 hover:bg-orange-600 text-black font-bold px-4 py-2 rounded"
      >
        CURRICULUM
      </a>
      <a
        href="#projects"
        class="text-orange-400 font-bold border-b-2 border-orange-400 hover:text-orange-500"
      >
        PROJECTS
      </a>
    </div>
  </div>

  <!-- Side Right -->
  <div class="absolute inset-y-0 right-4 flex">
    {
      hero.dataV2.map(({ title }) => (
        <p class="[writing-mode:vertical-rl] text-purple-900 font-bold text-3xl md:text-5xl leading-relaxed tracking-wide">
          {title}
        </p>
      ))
    }
  </div>
</div>

<!-- Ellipse -->
<div
  class="absolute bottom-0 left-1/2 transform -translate-x-1/2 flex justify-center items-center"
>
  <Ellipse />
</div>
